@tailwind base;
@tailwind components;
@tailwind utilities;


#cardContainer {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

#cardContainer > div {
  scroll-snap-align: center;
  flex: 0 0 auto;
  width: 100%;
}
